<section id="hero" class="hero">
  <div class="section-container hero-container">

    <p class="hero-brand">
      honesan
    </p>

    <h1 class="hero-title">
      Ian Park Portfolio
    </h1>

    <p class="hero-subtitle">
      Developer · Creator · Project Archive
    </p>

    <p>
      I build websites, games and creative software projects.
    </p>

    <div class="hero-cta">
      <a href="#portfolio" class="btn btn--primary">
        VIEW PROJECTS
      </a>

      <a href="#contact" class="btn btn--primary">
        Let’s Collaborate
      </a>
    </div>

  </div>
</section>